body
{
        margin:0;
}

aside
{
        text-align: left;
        padding: 15px;
        padding-top: 30px;
        float: left;
        background-color:lightgrey ;
        margin-right: 10px;
        height: 90vh;
}

h1
{
        background: red;
        color: white;
        margin: 0;
        padding: 5px;
        text-align: center;
}

header
{
        position: absolute;
        top: 0px;
        width: 100%;
}

h2
{
        padding-left: 15px;
}

main
{
        padding-top:4% ;
}

footer
{
        position: absolute;
        bottom: 0px;
        background-color: lightgrey;
        height: 4vh;
        width:100vw;
        padding-top:10px;
        text-align: center;
}
