/*scc word altijd tijdleijk opgeslaagen met cntrl + f5!*/
body
{
        margin:0;
        overflow-x: hidden;
}

aside
{
        text-align: left;
        padding: 15px;
        padding-top: 30px;
        float: left;
        background-color:lightgrey ;
        margin-right: 10px;
        height: 90vh;
}

header h1
{
        background: red;
        color: white;
        margin: 0;
        padding: 5px;
        text-align: center;
}

header
{
        position: absolute;
        top: 0px;
        width: 100%;
}

main
{
        height: 88vh;
        margin-top: 4vh;
        overflow-y:auto;
}

footer
{
        position: absolute;
        bottom: 0px;
        background-color: lightgrey;
        height: 7vh;
        width:100%;
        text-align: center;
}

.StPaSc
{
        height: 80px;
        width: 80px;
}

